# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/
env_variables.txt

# Logs
*.log
logs/

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Output & Cache
outputs/
cache/
tmp/
*.tmp
